{version, "0.0.1"}.


{depends, [
  {dir, "./lib"},
  {repositories, [
    {"http://erlang-build-tool.googlecode.com/files", [
            {erlandox, "1.0.4"},
      {gaucho, "0.1.0.77"},
      {ranch, "0.6.2"},
      {cowboy, "0.8.2"},
      {xl_stdlib, "1.1.0.236"},
      {xl_io, "1.1.0.236"}
  ]}]}
]}.
{compile, [
    {flags, [warnings_as_errors, debug_info]}
]}.
{libraries, ["./lib", "./out/production"]}.

{profiles, [
    {default, [
        {perform, [depends, eunit, release]}
    ]}
]}.
{release, [
    {name, expenses},
    {config, "reltool.config"},
    {resources, ["etc"]}
]}.
