{sys, [
    {lib_dirs, ["./lib", "./out/production"]},
    {rel, "expenses", "0.0.1", [
        kernel,
        stdlib,
        sasl,
        erlandox,
        xl_stdlib,
        ranch,
        cowboy,
        gaucho
    ]},
    {rel, "start_clean", "", [
        kernel,
        stdlib
    ]},
    {boot_rel, "expenses"},
    {profile, embedded},
    {excl_sys_filters, [
        "^bin/.*",
        "^erts.*/bin/(dialyzer|typer)"
    ]},
    {app, sasl, [{incl_cond, include}]}
]}.
